<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804353153470-ssq86un4dm5u6ngg4p3moq8seam89lii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804353153470-ssq86un4dm5u6ngg4p3moq8seam89lii</string>
	<key>API_KEY</key>
	<string>AIzaSyCxB4DaLTNW5ucNeZtwozXrWldnlkbSDBE</string>
	<key>GCM_SENDER_ID</key>
	<string>804353153470</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emilshouse.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-59b04</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-59b04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804353153470:ios:0ed39916507d5f43ae01ef</string>
	<key>DATABASE_URL</key>
	<string>https://flashchat-59b04.firebaseio.com</string>
</dict>
</plist>